@import url('https://fonts.googleapis.com/css2?family=Finlandica+Headline:ital,wght@0,100..900;1,100..900&display=swap');

body, *, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  font-family: "Finlandica Headline";
  font-size: 14px;
  color: black;
}


a{
  text-decoration: none;
  color: inherit;
}


h1, h2, h3, h4, h5, h6, .title{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1em;
}


/*=========================================
            Header
=========================================*/
.pheader{
  padding: 0.8em 0;
  background: #f4f4f4f4;
}

.fixed-width{
  width: 90%;
  margin: 0 auto;
  border: 1px dashed #00000000;
}

.fixed-width nav{
  float: right;
}

.fixed-width nav ul li{
  float: left;
  margin: 10px 10px;
  font-size: 0.7rem;
  color: #00000060;
  text-transform: uppercase;
}

.fixed-width nav em{
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 0.rem;
  margin-top: 5px;
}


.fixed-width h1{
  float: left;
  margin: auto 10px;
  font-size: 25px;
  font-weight: 800;
  color: #00000060;
}


.clear:after{
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}




/*========================================
               Footer
========================================*/

.credit{
  float: right;
}

.credit a{
  font-weight: 700;
}


.pfooter:before{
  content: " ";
  height: 3px;
  display: block;
  background: #00000050;
}

.pfooter{
  position: relative;
  font-size: 0.8rem;
  background: #f4f4f4;
  color: #9b9b9b;
  height: auto;
}

.pfooter-cont{
  padding: 1em 0;
}




/*==================================================
               Body
==================================================*/

.main-v{
  margin-top: 10px;
  min-height: 100vh;
  width:100%;
  border: 4px dashed #ff000000;
}

.main-v figcaption{
  background: #f6f6f6;
  position: ;
  display: block;
  padding: 1em;
}

.main-v figcaption > strong{
  font-size: 1.5em;
}

.main-v figcaption p{
  margin: 0.4em 0;
  line-height: 1.3;
}

.main-v img{
  display: block;
  margin: 0 auto;
}












/*
@media screen and (max-width: 935px){
  .fixed-width nav{
    position: absolute;
    left: 10px;
 }
  .fixed-width nav em{
    display: block;
    font-size: 1.5rem;
  }
  .fixed-width nav ul li{
    float: none;
    font-size: 1rem;
  }
  .pfooter{
    font-size: 1rem;
  }
}
*/
