@import url('https://fonts.googleapis.com/css2?family=Finlandica+Headline:ital,wght@0,100..900;1,100..900&display=swap');

body, *, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  font-family: "Finlandica Headline";
  font-size: 16px;
  color: black;
}


a{
  text-decoration: none;
  color: inherit;
}

/*=========================================
            Header
=========================================*/
.pheader{
  padding: 0.8em 0;
  background: #fff0f0;
}

.fixed-width{
  width: 900px;
  margin: 0 auto;
  border: 1px dashed #00000020;
}

.fixed-width nav{
  float: right;
}

.fixed-width nav ul li{
  float: left;
  margin: 25px 10px;
  font-size: 18px;
  color: #00000060;
  text-transform: uppercase;
}

.fixed-width nav em{
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}


.fixed-width h1{
  float: left;
  margin: auto 10px;
  font-size: 25px;
  font-weight: 800;
  color: #00000060;
}


.clear{
  clear: both;
}




/*========================================
               Footer
========================================*/

.credit{
  float: right;
}

.credit a{
  font-weight: 700;
}


.pfooter:before{
  content: " ";
  height: 5px;
  display: block;
  background: #00000060;
}

.pfooter{
  position: relative;
  font-size: 1.5rem;
  background: #f4f4f4;
  color: #9b9b9b;
  min-height: 70px;
}

.pfooter-cont{
  padding: 1em 0;
}




/*==================================================
               Body
==================================================*/

.body{
  min-height: 100vh;
}